/* Parts derived from CSS Simple Form Style.  MIT Attribution for CSS Simple Form Style -- Bowie @ https://codepen.io/bowie/pen/njjaZo */

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* body */
body {
  background: #e9e9e9;
  color: #5e5e5e;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

/* Form Layout */
.jar-div {
  filter: drop-shadow(1px 1px 1px #444);
}

.form-wrapper {
  background: #fafafa;
  border-radius: 25px;
  margin: 3em auto;
  padding: 0 1em;
  line-height: 3rem;
  max-width: 900;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
  text-align: center;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
  text-align: center;
}

.button-panel .submitbutton {
  background: #006bff;
  border-top-right-radius: 5px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 25px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 60%;
}

.button-panel .resetbutton {
  background: #333;
  border-top-right-radius: 25px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 30%;
}

.submitbutton:hover {
  background: #0050bf;
}

.resetbutton:hover {
  background: #51585e;
}

.form-footer {
  font-size: 1em;
  padding: 0.25em 0;
  text-align: center;
  line-height: 1rem;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}


/* Simple Snackbar.  See https://www.w3schools.com/howto/howto_js_snackbar.asp */

#snackbar-root {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 25%; /* Set a default minimum width */
  background: #51585e; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10px; /* Rounded borders */
  padding: 16px; /* Padding */
  z-index: 1; /* Add a z-index if needed */
  opacity: 75%;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
}
